
th {
  text-align: start;
  color: var(--secondary-color);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

td {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

fieldset {
  border: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #bfc3c6;
  border-radius: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: #5e6062;
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}
