:root {
  --background-color: #f6f8fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #212121;
  }
}

.plain-button {
  background-color: transparent;
  padding: 0;
}

.medium {
  font-weight: 500;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  padding-top: 0.5rem
}

.bold {
  font-weight: 700;
}

.text-end {
  text-align: right;
}

thead {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
}

th {
  text-align: start;
  color: var(--secondary-color);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

td {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

th:hover {
  background-color: var(--secondary-100);
}

@media (prefers-color-scheme: dark) {
  th:hover {
    background-color: var(--secondary-700);
  }
}

.flex-1 {
  flex: 1;
}

.dialog {
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-200);
  background-color: var(--background-color);
}

@media (prefers-color-scheme: dark) {
  .dialog {
    border-color: var(--secondary-700);
  }
}

fieldset {
  border: 0;
  padding: 0;
}
