@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Zed Mono";
	src: url("/zed-mono/zed-mono-regular.woff2");
}

@font-face {
	font-family: "Zed Mono";
	src: url("/zed-mono/zed-mono-medium.woff2");
  font-weight: 500;
}

@font-face {
	font-family: "Zed Mono";
	src: url("/zed-mono/zed-mono-bold.woff2");
	font-weight: 700;
}

@font-face {
	font-family: "Zed Mono";
	src: url("/zed-mono/zed-mono-italic.woff2");
	font-style: italic;
}

.material-symbols-rounded {
  font-display: block;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-weight: 500;
  accent-color: #0E9544;
}


body {
  font-family: "Zed Mono", sans-serif;
  font-size: 14px;
}

.react-flow__controls-button {
  @apply dark:!bg-neutral-600 dark:!border-b-neutral-700 dark:!text-white dark:hover:!bg-neutral-500;
}

.react-flow__controls-button svg path {
  fill: currentColor;
}

.react-flow__attribution {
  @apply dark:!bg-neutral-700 rounded rounded-b-none;
}

code {
  @apply bg-slate-200 dark:bg-neutral-600 text-slate-600 dark:text-neutral-200 font-['Zed_Mono'] rounded px-1;
}
