.nav ul {
  list-style: none;
  margin: 0.5rem;
  padding: 0;
}

.nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navLink {
  padding: 0.5rem;
  display: flex;
}

.navLink.active {
  color: inherit !important;
}