.collections {
  list-style:none;
  padding: 0;
}

.collectionLink {
  text-decoration: none;
  padding: 0.25rem 0;
}

.collectionLink:hover {
  text-decoration: underline;
}

.collectionLink.active {
  color: inherit !important;
  text-decoration: underline;
}