.serviceNode {
  background-color: var(--background-color);
  border-radius: 0.5rem;
  width: 16rem;
  border: 1px solid var(--secondary-200);
  overflow: hidden;
}


@media (prefers-color-scheme: dark) {
  .handle {
    background-color: var(--secondary-500);
  }
}

.header {
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid var(--secondary-200);
}

.methodLabel {
  flex: 1;
  margin-left: 1.5rem;
}

.methods {
  list-style: none;
  padding: 0;
}

.methods li {
  align-items: center;
  display: flex;
  padding: 0.5rem 0;
}

@media (prefers-color-scheme: dark) {
  .serviceNode {
    background-color: var(--secondary-700);
    border: 1px solid var(--secondary-600);
  }

  .header {
    border-color: var(--secondary-600);
  }
}